body {
  font-family:Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif !important;
}



.button-circle {
width: 180px !important;
line-height: 180px !important;
height: 180px !important;
}

.footer a{
  text-decoration:none;
  color: white;
}
.splash-head {

}
.two-lines {
line-height: 50px !important;
padding-top: 25px;
}
.three-lines {
  line-height: 33px !important;
  padding-top:35px;
}
.splash-container {
background: #000 !important;
background-size: 100%; 
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.capsty {
    text-decoration: none;
    text-align: center;
    font-size:80%;
    text-align:center;
    color:grey;
}

.home-menu.pure-menu-open {
background: black !important;
}

.pure-menu-selected {
  font-family:Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif !important;
}

.pure-menu-highlight a {
  color: #FFF0D9 !important;
}


/* Recent Activities */


.recent {
  margin-top: 0px !important;
  background: #FDF3E7;
}
.recent p{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  text-align: center;
}

.activities-span-title {
  font-weight: bold;
  background: #FDF3E7 !important;
  color:black !important;
}

/* Recent Activities END*/

