<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span class="sr-only">Love of the universe</span>
                <h4>Interplanetary Immigration Center</h4>
                <p> funding time：2062 July 23th <br>
                    Base：Mars Isidis
                 </p>
                <p>
                <br/>
                <a href="{{ "/about" | prepend: site.baseurl }}" class="btn">About</a>
                </p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask" aria-hidden="true"></i>
                <span class="sr-only">laboratory flask</span>
                <h4>Research</h4>
                <p>
                We are based on Mars and focused on flight vehicle propulsion system, exoplanets research , and space automation.
                </p>
                <p><br/><a href="http://planiversity.interimm.org" class="btn" target="_blank">research</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span class="sr-only">An image of a trophy</span>
                <h4>Space archive</h4>
                <p>
                    We have space database, collecting and hosting space data and space exploration history
                </p>
                <p><br/><a href="{{ "/archives" | prepend: site.baseurl }}" class="btn">archive</a></p>
            </div>
        </div>
    </div><!--/container -->
</div><!--/service -->

<!-- Tags -->
<div class="alert strip" style="padding-bottom:2em;margin-bottom:0;">
  <p style="text-align:center;"><!-- <span class="label">recent updates：</span> -->
     <a href="http://cities.interimm.org/"><span class="label label-success">Marsian city planning</span></a>
     <a href="http://interimm.org/hub"><span class="label label-success">founding a interplanetary business</span></a>
     <a href="https://github.com/emptymalei/future-star-network"><span class="label label-success">Interplanetary transportation network</span></a>
  <a href="https://github.com/InterImm/InterImmBook/issues/78" target="_blank"><span class="label label-success">space elevator</span></a>
  <a href="https://github.com/InterImm/InterImmBook/issues/96"><span class="label label-success">flight vehicle propulsion system</span></a>
  <a href="https://github.com/InterImm/InterImmBook/issues/20"><span class="label label-success">Mars customization</span></a>
</p>

  <p style="text-align:center;"> <!-- <span class="label">hot discussion：</span> -->
  <a href="https://github.com/InterImm/InterImmBook/issues/59"><span class="label label-info">site selection of Marsian cities and tourist map</span></a>
  <a href="https://github.com/InterImm/InterImmBook/issues/48"><span class="label label-info"space jobs</span></a>
  <a href="https://github.com/InterImm/exoplanets/issues/7"><span class="label label-info">exoplanets rating system</span></a>
  <a href="https://github.com/InterImm/marsCalendar/issues"><span class="label label-info">Mars calendar</span></a>
  <a href="https://zhuanlan.zhihu.com/interimm"><span class="label label-info">From Zhihu</span></a>
</p>
</div>
