<div id="misc" style="padding-top: 4rem !important;">
<div class="container centered">
<h3>Support Us</h3>
    <div class="row">

        <div class="col-lg-3">
            <h4> Connect with Us </h4>
            <div class="hline"></div>
            <p> Watch and star our GitHub repositories, connect on social media, and share our work with friends. </p>
        </div>

        <div class="col-lg-3">
            <h4>Join Our Discussions</h4>
            <div class="hline"></div>
            <p>We are hosting online free talks about space technology and spacefaring civilization, join the chat and promote your ideas. </p>
        </div>

        <div class="col-lg-3">
            <h4>Use Our Tools</h4>
            <div class="hline"></div>
            <p>We have created many tools to help you understand the life in other parts of the solar system. Feedbacks would be nice.</p>
        </div>

        <div class="col-lg-3">
            <h4>Join Us</h4>
            <div class="hline"></div>
            <p>Onboard the team and explore the new world with us.</p>
        </div>


    </div><! --/row -->
</div><! --/container -->
</div>
