<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4 archive-blocks">
                <i class="fa fa-paragraph" aria-hidden="true"></i>
                <span class="sr-only">Love of the universe</span>
                <h4>The Book of Interplanetary Civilization</h4>
                <p>A concise history of a cruel and inspiring era, with key events and technologies explained.
                 </p>
                <p>
                <br/>
                <a href="http://book.interimm.org" class="btn">Read Now</a>
                </p>
            </div>
            <div class="col-md-4 archive-blocks">
                <i class="fa fa-atlas" aria-hidden="true"></i>
                <span class="sr-only">Exoplanets</span>
                <h4>The Book of Exoplanets</h4>
                <p>
                Observation of exoplanets, statistical analysis of them, formation and evolution of planets, life on exoplanets
                </p>
                <p><br/><a href="http://exoplanets.interimm.org/" class="btn" target="_blank">Read Now</a></p>
            </div>
            <div class="col-md-4 archive-blocks">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span class="sr-only">An image of a trophy</span>
                <h4>Space Companies</h4>
                <p>
                List of space related companies with more to be added by you
                </p>
                <p><br/><a href="http://interimm.org/hub/" class="btn">Read and Add</a></p>
            </div>
          </div>
          <div class="row centered">
            <div class="col-md-4 archive-blocks">
                <i class="fa fa-city" aria-hidden="true"></i>
                <span class="sr-only">An image of a trophy</span>
                <h4>Cities on Mars</h4>
                <p>
                3D models and 2D map of cities on Mars
                </p>
                <p><br/><a href="http://cities.interimm.org/" class="btn">Look Up</a></p>
            </div>
            <div class="col-md-4 archive-blocks">
                <i class="fa fa-map-marked-alt" aria-hidden="true"></i>
                <span class="sr-only"></span>
                <h4>Map of Mars</h4>
                <p>
                Interactive map of mars with cities and sites marked
                </p>
                <p><br/><a href="http://interimm.org/mars-clock/" class="btn">Use the Map</a></p>
            </div>
            <div class="col-md-4 archive-blocks">
                <i class="fa fa-clock" aria-hidden="true"></i>
                <span class="sr-only"></span>
                <h4>Timekeeping on Mars</h4>
                <p>A online tool to convert time on Earth to time on Mars
                </p>
                <p><br/><a href="http://interimm.org/mars-clock/" class="btn">Check and Convert</a></p>
            </div>
        </div>
        <div class="row centered archive-blocks">
          <div class="col-md-4">
              <i class="far fa-circle" aria-hidden="true"></i>
              <span class="sr-only"></span>
              <h4>Solar System</h4>
              <p>
              A 3D model of our solar system to investigate the whole system
              </p>
              <p><br/><a href="http://interimm.org/solarsystem/" class="btn">Interact Now</a></p>
          </div>
          <div class="col-md-4 archive-blocks">
              <i class="fa fa-sun" aria-hidden="true"></i>
              <span class="sr-only">An image of a trophy</span>
              <h4>Interstellar Transportation Network</h4>
              <p>
              Research on network for interstellar transportations.
              </p>
              <p><br/><a href="http://stellar.interimm.org" class="btn">Read Now</a></p>
          </div>
          <div class="col-md-4 archive-blocks">
              <i class="fa fa-chart-bar" aria-hidden="true"></i>
              <span class="sr-only">Timeline of Events</span>
              <h4>Timeline of Events</h4>
              <p>
                  A timeline tool for human space civilization
              </p>
              <p><br/><a href="http://timeline.interimm.org/" class="btn">Interact Now</a></p>
          </div>
      </div>

       <div class="row centered archive-blocks">
          <div class="col-md-4">
              <i class="far fa-circle" aria-hidden="true"></i>
              <span class="sr-only"></span>
              <h4>Communication in the Solar System</h4>
              <p>
               Calculate the communication lag in real time
              </p>
              <p><br/><a href="http://interimm.org/comms-latency" class="btn">Interact Now</a></p>
          </div>
      </div>

    </div><!--/container -->
</div><!--/service -->
