<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-paragraph" aria-hidden="true"></i>
                <span class="sr-only">Love of the universe</span>
                <h4>The Book of Interplanetary Immigration</h4>
                <p>The history of solar system civilization and technology
                </p>
                <p>
                <br/>
                <a href="http://book.interimm.org" class="btn">start to read</a>
                </p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-atlas" aria-hidden="true"></i>
                <span class="sr-only">Exoplanets</span>
                <h4>Exoplanet Archive</h4>
                <p>
                data of exoplanets, planet formation theories, and xxtraterrestrial life
                </p>
                <p><br/><a href="http://exoplanets.interimm.org/" class="btn" target="_blank">start to read</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span class="sr-only">An image of a trophy</span>
                <h4>Space business</h4>
                <p>
                    Space business archive, you can check all the registered companies or add your business here
                </p>
                <p><br/><a href="http://interimm.org/hub/" class="btn"check and add</a></p>
            </div>
          </div>
          <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-city" aria-hidden="true"></i>
                <span class="sr-only">An image of a trophy</span>
                <h4>Cities on Mars</h4>
                <p>
                    the 3D models and maps of Marsian cities
                </p>
                <p><br/><a href="http://cities.interimm.org/" class="btn">read</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-map-marked-alt" aria-hidden="true"></i>
                <span class="sr-only"></span>
                <h4>Mars map</h4>
                <p>
                    Interactive map of the whole Mars,including marsian cities and tourist attractions
                </p>
                <p><br/><a href="http://interimm.org/mars-clock/" class="btn">use the map</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-clock" aria-hidden="true"></i>
                <span class="sr-only"></span>
                <h4>Mars time</h4>
                <p>
                    The online converter of Mars time and Earth time
                </p>
                <p><br/><a href="http://interimm.org/mars-clock/" class="btn">check the time</a></p>
            </div>
        </div>
        <div class="row centered">
          <div class="col-md-4">
              <i class="far fa-circle" aria-hidden="true"></i>
              <span class="sr-only"></span>
              <h4>the model of solar system</h4>
              <p>
                  The 3D model of solar system
              </p>
              <p><br/><a href="http://interimm.org/solarsystem/" class="btn">check</a></p>
          </div>
          <div class="col-md-4">
              <i class="fa fa-sun" aria-hidden="true"></i>
              <span class="sr-only">An image of a trophy</span>
              <h4>The network of stars</h4>
              <p>
                  Research of interstar transportation
              </p>
              <p><br/><a href="http://stellar.interimm.org" class="btn">check</a></p>
          </div>
          <div class="col-md-4">
              <i class="fa fa-chart-bar" aria-hidden="true"></i>
              <span class="sr-only">The timeline of interplanetary immigration</span>
              <h4>the timeline of interplanetary immigration</h4>
              <p>
                  The timeline of human space civilization
              </p>
              <p><br/><a href="http://timeline.interimm.org/" class="btn">check</a></p>
          </div>



      </div>

    </div><!--/container -->
</div><!--/service -->
