{{- /* The signal line under the header. interimm.js fills the values in live. */ -}}
<div class="signal">
  <p class="wrap signal-inner">
    <span class="signal-item">{{ i18n "signal_distance" }} <b data-signal-au>–</b> AU</span>
    <span class="signal-item">{{ i18n "signal_delay" }} <b data-signal-delay data-unit-min="{{ i18n "unit_min" }}" data-unit-s="{{ i18n "unit_s" }}">–</b></span>
    <span class="signal-item">{{ i18n "signal_mars" }} <b data-signal-mtc>–</b> MTC</span>
    <span class="signal-item">{{ i18n "signal_sol" }} <b data-signal-sol>–</b></span>
  </p>
</div>
