<div class="container-fluid" style="background:black;padding-top:20px;">

  <div class="well bs-component">

    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align:center;"><a name="activities" style="text-decoration:none;">即将/正在举行的活动</a></h3>
        </div>
        <div class="panel-body" style="text-align:center;">

          <!-- A button group for one event with dropdown details -->

          <a href="https://github.com/InterImm/roundTable/issues/26" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第二十次星际圆桌：自复制深空矿业</span></a>

          <!-- RoundTable END -->

        </div>
        <div class="panel-footer">
          <p style="text-align:center;"><span class="label" style="color:#31708F;">请 subscribe 我们的</span> <a href="https://github.com/InterImm/roundTable" target="_blank"><span class="label label-info">Round Table</span></a> <span class="label"
              style="color:#31708F;">以获得最新星际圆桌会议通知。</span></p>
        </div>
      </div>




      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align:center;">过往的活动</h3>
        </div>
        <div class="panel-body" style="text-align:center;">



          <a class="btn btn-success btn-raised" style="display:inline-block;" role="button" data-toggle="collapse" href="#roundTableCollapse" aria-expanded="false" aria-controls="roundTableCollapse"><span style="display:inline-block;">星际圆桌<b class="caret"></b></span></a>

          <a class="btn btn-success btn-raised" style="display:inline-block;" role="button" data-toggle="collapse" href="#miscActivitiesCollapse" aria-expanded="false" aria-controls="miscActivitiesCollapse"><span style="display:inline-block;">其它活动</span><b class="caret"></b></a>




          <!-- roundTableCollapse BEGIN  -->

          <div class="collapse" id="roundTableCollapse">
            <div class="well">



              <a href="https://github.com/InterImm/roundTable/issues/25" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第十九次星际圆桌：2016第一场</span></a>

              <a href="https://github.com/InterImm/roundTable/issues/24" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第十八次星际圆桌：火星救援专题</span></a>

              <a href="https://github.com/InterImm/roundTable/issues/22" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第十七次星际圆桌：接下来的设定和科普</span></a>



              <!-- RoundTable16a BEGINS -->


              <a href="https://github.com/InterImm/roundTable/issues/20" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第十六次星际圆桌：补充会议</span></a>

              <!-- RoundTable16a ENDS -->

              <!-- RoundTable16 BEGINS -->


              <a href="https://github.com/InterImm/roundTable/issues/19" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第十六次星际圆桌：简单讨论内部事务</span></a>

              <!-- RoundTable16 ENDS -->

              <!-- RoundTable15 BEGINS -->


              <a href="https://github.com/InterImm/roundTable/issues/18" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第十五次星际圆桌：星际移民之书设定</span></a>

              <!-- RoundTable15 ENDS -->


              <!-- RoundTable14 BEGINS -->


              <a href="https://github.com/InterImm/roundTable/issues/17" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第十四次星际圆桌：星际移民之书设定</span></a>

              <!-- RoundTable14 ENDS -->





              <!-- RoundTable13 BEGIN -->


              <a href="https://github.com/InterImm/roundTable/issues/16" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第十三次星际圆桌：太空电梯以及运营事项</span></a>


              <!-- RoundTable13 END -->




              <!-- RoundTable12 BEGIN -->


              <a href="https://github.com/InterImm/roundTable/issues/15" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第十二次星际圆桌：系外行星和宜居带</span></a>


              <!-- RoundTable12 END -->



              <!-- RoundTable11 BEGIN -->


              <a href="https://github.com/InterImm/roundTable/issues/14" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第十一次星际圆桌：太空电梯及火星地球化</span></a>



              <!-- RoundTable11 END -->



              <!-- RoundTable10 BEGIN -->


              <a href="https://github.com/InterImm/roundTable/issues/13" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第十次星际圆桌：火星地球化设定初步讨论</span></a>



              <!-- RoundTable10 END -->

              <!-- RoundTable9 BEGIN -->


              <a href="https://github.com/InterImm/roundTable/issues/11" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第九次星际圆桌：月球开发</span></a>



              <!-- RoundTable9 END -->


              <!-- RoundTable8 BEGIN -->


              <a href="https://github.com/InterImm/roundTable/issues/9" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第八次星际圆桌：小行星采矿及可能的内部讨论</span></a>



              <!-- RoundTable8 END -->

              <!-- RoundTable7 BEGIN -->


              <a href="https://github.com/InterImm/roundTable/issues/8" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第七次圆桌：通信、空间站等</span></a>




              <!-- RoundTable7 END -->


              <!-- RoundTable6 BEGIN -->
              <a href="https://github.com/InterImm/roundTable/issues/7" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第六次圆桌：火星城市和旅游景点</span></a>
              <!-- A button group -->
              <!-- RoundTable6 END -->


              <div class="btn-group" style="text-align:center;margin:0 auto;">
                <a href="https://github.com/InterImm/roundTable/issues/6" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第五次圆桌：系外行星价值判定</span></a>
                <a href="javascript:void(0)" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu" style="padding:1em 1em;">
                  <li data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left"><i class="mdi-action-alarm"></i>：北京 - 11 月 15 日 早上 10 点</li>
                  <li><i class="mdi-hardware-headset-mic"></i>：Skype 语音</li>
                  <li class="divider"></li>
                  <li>讨论内容为系外行星价值判定以及本中心的工具的使用，讨论时长非常不固定。</li>
                  <li class="divider"></li>
                  <li><a href="https://github.com/InterImm/roundTable/issues/6">第五次星际圆桌链接</a></li>
                  <li><a href="https://github.com/InterImm/roundTable/issues/4">星际圆桌讨论话题库</a></li>
                </ul>
              </div>
              <!-- A button group END -->

              <a href="https://github.com/InterImm/roundTable/issues/5" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第四次圆桌：星际移民背景下新职业</span></a>
              <a href="https://github.com/InterImm/roundTable/issues/3" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第三次圆桌：火星历法和计时</span></a>
              <a href="https://github.com/InterImm/roundTable/issues/2" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第二次圆桌：火星移民以及基地建设</span></a>
              <a href="https://github.com/InterImm/roundTable/issues/1" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">第一次圆桌：电磁推进技术</span></a>

            </div>
          </div>

          <!--  roundTableCollapse END -->







          <!-- miscActivitiesCollapse BEGIN -->

          <div class="collapse" id="miscActivitiesCollapse">
            <div class="well">

              <!-- Space Architecture Reading -->
              <div class="btn-group" style="text-align:center;margin:0 auto;">
                <a href="https://github.com/InterImm/space-settlement" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">空间站读书计划</span></a>
                <a href="javascript:void(0)" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu" style="padding:1em 1em;">
                  <li data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left"><i class="mdi-action-alarm"></i>：2016 年 06 月 ~ </li>
                  <li><i class="mdi-hardware-headset-mic"></i>：Skype/QQ 语音</li>
                  <li class="divider"></li>
                  <li></li>
                  <li class="divider"></li>
                  <li><a href="https://github.com/InterImm/space-settlement">空间站读书计划</a></li>
                </ul>
              </div>
              <!-- Space Architecture Reading END -->



              <!-- Ji Zhi Ju Le Bu 2015 -->
              <div class="btn-group" style="text-align:center;margin:0 auto;">
                <a href="http://computational-communication.com/post/guan-yu-wo-men/2015-05-09-anual-symposium" class="btn btn-success btn-raised" style="display:inline-block;"><span style="display:inline-block;">集智年会报告：人类星际移民</span></a>
                <a href="javascript:void(0)" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu" style="padding:1em 1em;">
                  <li data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left"><i class="mdi-action-alarm"></i>：2015 年 07 月 25 日 早 9:30 </li>
                  <li><i class="mdi-hardware-headset-mic"></i>：Skype 语音</li>
                  <li class="divider"></li>
                  <li></li>
                  <li class="divider"></li>
                  <li><a href="http://computational-communication.com/post/guan-yu-wo-men/2015-05-09-anual-symposium">集智年会</a></li>
                  <li><a href="http://www.swarma.org/swarma/">集智俱乐部链接</a></li>
                </ul>
              </div>
              <!-- Ji Zhi Ju Le Bu 2015 END -->






            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
