<div class="container-fluid" style="background:black;padding-top:20px;">

  <div class="well bs-component">

    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align:center;"><a name="activities"
              style="text-decoration:none;">星际移民中心更新记录</a></h3>
        </div>
        <div class="panel-body" style="text-align:center;">


            <div class="timeline timeline-line-dotted">

                {% for update in site.data.updates %}
                {% if update.lang == "cn"  %}
                
              
                <span class="timeline-label">
                    <span class="label label-primary">{{update.date}}</span>
                </span>
                <div class="timeline-item">
                    <div class="timeline-point timeline-point-success">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="timeline-event">
                        <div class="timeline-heading">
                            <h4>{{update.content | markdownify}}</h4>
                        </div>
                        <div class="timeline-body">
                            <p></p>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-right">{{update.date}}</p>
                        </div>
                    </div>
                </div>
                
                {% endif %}
            {% endfor %}

                <span class="timeline-label">
                    <a href="#" class="btn btn-default" title="More...">
                        <i class="fa fa-fw fa-history"></i>
                    </a>
                </span>
            </div>
        </div>


        </div>
      </div>

    </div>
  </div>
</div>