<!DOCTYPE html>
<html>
    <!-- Site for Interplanetary Immigration Center -->
    {% include home/head.html %}
    <link rel="stylesheet" type="text/css" href="/assets/404/rocket.css">

<body>


<!-- Nav Bar at top -->
{% include home/nav.html %}
<!--  Nav Bar Top END -->







<!--  A Splash DIV -->
<!--
<div class="clear"></div>
<div class="container-fluid" style="background:black;padding-top:20px;">

<div class="row">


    <h1 class="splash-boxed splash-head">404</h1>
  <p style="text-align:center;">由于档案损坏，您正在寻找的页面已经丢失。</p>

</div>
</div>



<div class="clear"></div>
-->
<!--  A Splash DIV END -->

<div id='wrapper'>
    <div class='clearfix' id='banner'>
      <div class='wrap clearfix'>
        <h1>404 <p><span>档案遗失在群星尽头</span></p></h1>

      </div>
    </div>
  </div>








<!--  Footer -->

{% include home/footer.html %}

{% include home/js.html %}
<script src="/assets/404/rocket.js"></script>

</body>
</html>
