<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="星际移民中心官方网站">
    <meta name="author" content="星际移民中心团队">
    <!-- FAV ICONS -->
      <link rel="shortcut icon" href="{{ "/assets/ico/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon" />
      <link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/ico/apple-touch-icon-57x57.png" | prepend: site.baseurl }}">
      <link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/ico/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
      <link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/ico/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
      <link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/ico/apple-touch-icon-144x144.png" | prepend: site.baseurl }}">
      <link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/ico/apple-touch-icon-60x60.png" | prepend: site.baseurl }}">
      <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/ico/apple-touch-icon-120x120.png" | prepend: site.baseurl }}">
      <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/ico/apple-touch-icon-76x76.png" | prepend: site.baseurl }}">
      <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/ico/apple-touch-icon-152x152.png" | prepend: site.baseurl }}">
      <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/ico/apple-touch-icon-180x180.png" | prepend: site.baseurl }}">
      <link rel="icon" type="image/png" href="{{ "/assets/ico/favicon-192x192.png" | prepend: site.baseurl }}" sizes="192x192">
      <link rel="icon" type="image/png" href="{{ "/assets/ico/favicon-160x160.png" | prepend: site.baseurl }}" sizes="160x160">
      <link rel="icon" type="image/png" href="{{ "/assets/ico/favicon-96x96.png" | prepend: site.baseurl }}" sizes="96x96">
      <link rel="icon" type="image/png" href="{{ "/assets/ico/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16">
      <link rel="icon" type="image/png" href="{{ "/assets/ico/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="msapplication-TileImage" content="{{ "/assets/ico/mstile-144x144.png" | prepend: site.baseurl }}">
  <!-- END Fav ICON -->

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">

    <link href="{{ "/assets/css/material/ripples.min.css" | prepend: site.baseurl }}" rel="stylesheet">
		<link href="{{ "/assets/css/material/material-wfont.min.css" | prepend: site.baseurl }}" rel="stylesheet">
		<link href="{{ "/assets/css/material/snackbar.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/material/animate.min.css" | prepend: site.baseurl }}" rel="stylesheet">
		<link href="{{ "/assets/css/material/style.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/interimm.style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <!-- <link href="{{ "/assets/css/style.interimm.css" | prepend: site.baseurl }}" rel="stylesheet"> -->
    <!-- <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet"> -->
    <link href="{{ "/assets/css/font-awesome.all.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
