<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <span class="sr-only">Love of the universe</span>
                <h4>星际移民中心</h4>
                <p> 成立时间：2062年7月23日 <br> 
                    总部：火星 Isidis （伊希地）
                 </p>
                <p>
                <br/>
                <a href="#" class="btn btn-theme">关于</a>
                </p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask" aria-hidden="true"></i>
                <span class="sr-only">laboratory flask</span>
                <h4>技术研发</h4>
                <p>
                立足火星，致力于推进技术和飞行器，系外行星，以及太空自动化的研发。
                </p>
                <p><br/><a href="#" class="btn btn-theme">研究</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span class="sr-only">An image of a trophy</span>
                <h4>太空档案</h4>
                <p>
                    采集和托管太空数据，设有太空数据仓库。同时也致力于太空开发历史研究。
                </p>
                <p><br/><a href="#" class="btn btn-theme">档案</a></p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->