<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <span class="sr-only">Love of the universe</span>
                <h4>星际移民中心</h4>
                <p> 成立时间：2062年7月23日 <br> 
                    总部：火星 Isidis （伊希地）
                 </p>
                <p>
                <br/>
                <a href="{{ "/about" | prepend: site.baseurl }}" class="btn">关于</a>
                </p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask" aria-hidden="true"></i>
                <span class="sr-only">laboratory flask</span>
                <h4>技术研发</h4>
                <p>
                立足火星，致力于推进技术和飞行器，系外行星，以及太空自动化的研发。
                </p>
                <p><br/><a href="http://planiversity.interimm.org" class="btn" target="_blank">研究</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span class="sr-only">An image of a trophy</span>
                <h4>太空档案</h4>
                <p>
                    采集和托管太空数据，设有太空数据仓库。同时也致力于太空开发历史研究。
                </p>
                <p><br/><a href="#" class="btn">档案</a></p>
            </div>
        </div>
    </div><!--/container -->
</div><!--/service -->

<!-- Tags -->
<div class="alert strip" style="margin-bottom:0;">
  <p style="text-align:center;"><!-- <span class="label">最近更新：</span> -->
     <a href="http://cities.interimm.org/"><span class="label label-success">火星城市规划</span></a>
     <a href="http://interimm.org/hub"><span class="label label-success">创立星际企业</span></a>
     <a href="https://github.com/emptymalei/future-star-network"><span class="label label-success">星际交通网络</span></a>
  <a href="https://github.com/InterImm/InterImmBook/issues/78" target="_blank"><span class="label label-success">太空电梯</span></a>
  <a href="https://github.com/InterImm/InterImmBook/issues/96"><span class="label label-success">推进技术</span></a>
  <a href="https://github.com/InterImm/InterImmBook/issues/20"><span class="label label-success">火星地球化</span></a>
</p>

  <p style="text-align:center;"> <!-- <span class="label">热门讨论：</span> -->
  <a href="https://github.com/InterImm/InterImmBook/issues/59"><span class="label label-info">火星城市选址及火星旅游图</span></a>
  <a href="https://github.com/InterImm/InterImmBook/issues/48"><span class="label label-info">太空职业记录</span></a>
  <a href="https://github.com/InterImm/exoplanets/issues/7"><span class="label label-info">系外行星分级</span></a>
  <a href="https://github.com/InterImm/marsCalendar/issues"><span class="label label-info">火星历法讨论</span></a>
  <a href="https://zhuanlan.zhihu.com/interimm"><span class="label label-info">知乎专栏投稿</span></a>
</p>
</div>