<div id="misc" style="padding-top: 4rem !important;">
<div class="container centered">
<h3>支持我们</h3>
    <div class="row">

        <div class="col-lg-3">
            <h4> 关注我们 </h4>
            <div class="hline"></div>
            <p> 关注我们的 GitHub 动态，或者社交网络动态，与大家分享我们的工作。 </p>
        </div>

        <div class="col-lg-3">
            <h4>参与讨论</h4>
            <div class="hline"></div>
            <p>我们时长组织关于太空科技和星际移民的在线讨论，参与并提出你的见解。 </p>
        </div>

        <div class="col-lg-3">
            <h4>使用我们的工具</h4>
            <div class="hline"></div>
            <p>我们创建了各种在线工具，如果我们的工具对您有所帮助，欢迎告知我们。</p>
        </div>

        <div class="col-lg-3">
            <h4>加入我们</h4>
            <div class="hline"></div>
            <p>称为星际移民中心的一员，一起创造新的世界。</p>
        </div>


    </div><! --/row -->
</div><! --/container -->
</div>
