<div id="misc" style="padding-top: 4rem !important;">
<div class="container centered">
<h3>support us</h3>
    <div class="row">

        <div class="col-lg-3">
            <h4> follow us </h4>
            <div class="hline"></div>
            <p> follow our GitHub or social media, and share our work with others </p>
        </div>

        <div class="col-lg-3">
            <h4>join the discussion</h4>
            <div class="hline"></div>
            <p>We organize online discussions about space technology and interplanetary immigration from time to time, join us and share your idea </p>
        </div>

        <div class="col-lg-3">
            <h4>use our tools</h4>
            <div class="hline"></div>
            <p>We created many online tools; please let us know if they are of any help</p>
        </div>

        <div class="col-lg-3">
            <h4>join us</h4>
            <div class="hline"></div>
            <p>Become part of IIA and let's create a new world together</p>
        </div>


    </div><! --/row -->
</div><! --/container -->
</div>
