<!-- Nav Bar at top -->
<div class="navbar navbar-black navbar-fixed-top" role="navigation">
    <div class="navbar-header navbar-border-r">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand-style" href="{{ "/" | prepend: site.baseurl }}""><i class="fa fa-home"></i> &nbsp; Interplanetary Immigration Center</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav navbar-nav-black">
        <li class="divider-vertical divider-white"></li>
            <li class="dropdown">
                <a href={{"/archives" | prepend: site.baseurl }}><i class="fa fa-archive"> </i>&nbsp; Archive </a>
                <ul class="dropdown-menu black-bg" role="menu" aria-labelledby="InterImmArchives">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://book.interimm.org"><i class="fa fa-paragraph"></i>&nbsp; The Book of Interplanetary Immigration</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://exoplanets.interimm.org"><i class="fa fa-atlas"></i>&nbsp; Exoplanets</a></li>
                    <li><a role="presentation"><a role="menuitem" tabindex="-1" href="http://interimm.org/hub"><i class="fa fa-building"></i>&nbsp; Space business</a></li>
                    <li class="divider"></li>
                    <li><a href={{"/en/archives" | prepend: site.baseurl }} style="color:orange;"><i class="fa fa-archive"> </i>&nbsp; More </a></li>
                </ul>
            </li>

            <li><a href="http://planiversity.interimm.org/" target="_blank"><i class="fa fa-university"></i>&nbsp; Planet University</a></li>


        </ul>
        <ul class="nav navbar-nav navbar-right navbar-nav-black">

        <li><a href="http://zhuanlan.zhihu.com/interimm" style="color:#5bc0de;" data-toggle="tooltip" data-placement="bottom" title="Zhihu" target="_blank"><i class="fab fa-zhihu"></i></a></li>
        <li><a href="http://weibo.com/iiaofficial" style="color:#eb7350;" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Weibo"> <i class="fab fa-weibo"></i></a></li>
        
        <li class="divider-vertical divider-white"></li>

        <!-- Switch on/off between the following two lines to activate/deactivate the calendar icon -->
        <!-- <li><a href="#activities" style="color:orange;"><i class="fa fa-calendar"></i></a></li> -->
        <li><a href="{{ "/activities" | prepend: site.baseurl }}" style="color:grey;" data-toggle="tooltip" data-placement="bottom" title="relative activities"><i class="fa fa-calendar-check"></i></a></li>

        <li><a href="http://interimm.org/mars-map/" style="color:orange;" data-toggle="tooltip" data-placement="bottom" title="interactive map of Mars">
            <i class="fa fa-map-marked-alt" aria-hidden="true"></i>
        </a></li>

            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-arrow-circle-o-down"></i> <i class="fas fa-th"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu black-bg">
                   <li><a href="{{ "/institutes.html" | prepend: site.baseurl }}"><i class="fa fa-sitemap"></i>&nbsp;Intraplanetary business</a></li>

                   <li><a href="{{ "/toolbox.html" | prepend: site.baseurl }}"><i class="fa fa-cogs"></i>&nbsp;toolkit</a></li>
                   <li><a href="http://interimm.org/mars-clock"><i class="fa fa-clock"></i>&nbsp;Mars time</a></li>

                   <li><a href="http://interimm.org/mars-map/" style="color:orange;" data-toggle="tooltip" data-placement="bottom" title="interactive map of Mars"><i class="fa fa-map"></i>&nbsp;Mars map</a></li>
                   <li><a href="http://cities.interimm.org/" style="color:orange;" ><i class="fa fa-map-signs"></i>&nbsp;Marsian cities</a></li>
                   <li><a href="http://timeline.interimm.org"><i class="fa fa-chart-bar"></i>&nbsp;timeline</a></li>

                    <li class="divider"></li>

                    <!-- <li><a href="http://zhuanlan.zhihu.com/interimm" target="_blank"><i class="fa fa-newspaper-o"></i>&nbsp; Zhihu</a></li> -->
                    <li><a href="http://magazine.interimm.org"><i class="fa fa-compass"></i>&nbsp; my blog</a></li>
                    <li><a href="http://www.guokr.com/group/396/" target="_blank"><i class="fa fa-lightbulb"></i>&nbsp; Guokr</a></li>
                    <li><a href="http://github.com/InterImm" target="_blank"><i class="fab fa-github-alt"></i>&nbsp; GitHub</a></li>
                </ul>
            </li>
            {% if page.switch_lang %}
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="{{ page.switch_lang.link }}" data-toggle="tooltip" title="Switch Language" style="color: #ebf391;">
                <i class="fa fa-language"></i>
                <span class="nav-link-inner--text">{{ page.switch_lang.nav }}</span>
              </a>
            </li>
           {% endif %}
        </ul>
    </div>
</div>

<!--  Nav Bar Top END -->
